extends ../layouts/layout.pug

block content
    h1 user 
    a(href="/user/create") create
    form(action="/user/search" class="d-flex")
        input(type="text" name="q" class="form-control")
        button(class="btn btn-primary ml 2") search
    ul 
        each use, index in users 
            li= index + ":" + use.name
            a(href="/user/"+ use.id ) view 
        else
            li There are no values
