extends ../layouts/layout.pug

block content
    h1 user 
    a.btn.btn-primary(href="/user/create") create
    
    table.table 
        tr  
            th avatar
            th #No 
            th Name 
            th Phone 
            th Action
        each use, index in users 
            tr
                td 
                    img(src='/' + use.avatar, alt="lỗi", width="200")
                td= index + 1
                td= use.name 
                td= use.phone
                td 
                    a(href="/user/"+ use.id ) view 
        else
            tr 
                td="There are no values"
