extends ../layouts/layout.pug

block content
    h1 user 
    a(href="/user/create") create
    ul 
        each use, index in users 
            li= index + ":" + use.name
            a(href="/user/"+ use.id ) view 
        else
            li There are no values
